@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --orange-color: #FF4B32;
    --white-color: #ffff;
    --black-color: #000;
}

* {
    margin: 0;
}

body {
    font-size: 20px;
}

.container {
    width: 100%;
}

.wrapper {
    width: 1440px;

}

.wrapper-header {
    height: 729px;
}

.black-background {
    display: flex;
    justify-content: center;
    background-color: var(--black-color);
    background-image: url(../images/image-main.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}

.link {
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    color: var(--orange-color);
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.2em;
    font-weight: 700;
}

.logo>a {
    text-decoration: none;
    color: var(--orange-color);
}

.nav {
    /*width: 670px;*/
    height: 2.5em;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list__item {
    list-style-type: none;
}

.nav-list__item>a {
    color: var(--white-color);
    font-family: "Open Sans", sans-serif;
    font-size: .9em;
    font-weight: 400;
    opacity: 0.6;
    text-decoration: none;
    padding: 0 1em 0 0 ;
}

.nav-list__item>a:hover {
    color: var(--orange-color);
    font-weight: 700;
}

.description {
    width: 524px;
    height: 401px;
    color: var(--white-color);
    position: absolute;
    bottom: 6em;
    top: 10em;
}

.description>p:nth-child(1) {
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.9em;
    font-weight: 500;
    margin: 0 0 .5em 0;
}

.description>p:nth-child(2) {
    margin: 0 0 2.4em 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    font-weight: 600;
    opacity: 0.8;
}

.description>button {
    padding: .8em 1.8em;
    font-family: "Open Sans", sans-serif;
    font-size: .9em;
    font-weight: 600;
    background-color: var(--orange-color);
    color: var(--white-color);
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
}


/*-----------------------------------------------------*/
.offer {
    margin: 7em 0 0 0;
}

.offer>h1 {
    padding: 0;
    color: var(--black-color);
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.15em;
    font-weight: 600;
    letter-spacing: .35em;
}

.p-bottom-h1 {
    width: 506px;
    margin: 1em 0 0 0;
    padding: 0;
    color: var(--black-color);
    font-family: "Open Sans", sans-serif;
    font-size: .9em;
    font-weight: 400;
    opacity: .7;
}

.coffe-beans {
    margin: 3em 0 0 0;
    display: flex;
}

.coffe-bean>img {
    width: 300px;
    height: 265px;
    margin: 0;
    padding: 0;
}

.coffe-bean__price {
    color: var(--black-color);
    margin: 1.75em 0 0 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.2em;
    font-weight: 700;
}

.coffe-bean>h3 {
    margin: .5em 0 0 0;
    color: var(--black-color);
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.6em;
    font-weight: 600;
}

.coffe-bean:nth-child(2) {
    margin: 0 4.6em;
}

.coffe-bean__desc {
    width: 257px;
    margin: .5em 0 0 0;
    color: var(--black-color);
    font-family: "Open Sans",sans-serif;
    font-size: .8em;
    font-weight: 400;
    opacity: 0.6;
}