@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --one-color: #FF4B32;
    --two-color: #ffff;
    --third-color: #000;
}

body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 749px;
    background-color: #000;
    background-image: url(../images/background.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    color: var(--two-color);
}

.header {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.logo {
    display: flex;
    align-items: center;
    color: var(--one-color);
}

.nav-list {
    display: flex;
}

.nav-list__link {
    list-style-type: none;
}

.nav-list__item {
    margin-right: 45px;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: var(--two-color);
    opacity: .6;
}

.nav-list__item:hover {
    font-weight: 700;
    color: var(--one-color);
}

/*------------------------------------------------*/
.dreams {
    margin-left: 147px;
    margin-top: 120px;
}

.dreams>button {
    padding: 16px 35px;
    border-radius: 5px;
    background-color: var(--one-color);
    color: var(--two-color);
    font-size: 18px;
    font-weight: 600;
    font-family: "Open Sans",sans-serif;
}

.dreams>p:nth-child(1) {
    width: 524px;
    margin: 0 0 28px 0;
    color: var(--two-color);
    font-family: "Josefin Sans",sans-serif;
    font-size: 58px;
    font-weight: 500;
}

.dreams>p:nth-child(2) {
    width: 506px;
    color: var(--two-color);
    font-family: "Open Sans",sans-serif;
    font-size: 20px;
    font-weight: 600;
    opacity: .8;
    margin: 0 0 48px 0;
}

/*-----------------------------------------------------*/
.offer {
    /*width: 1200px;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-content: center;*/
    /*justify-content: space-around;*/
    margin: 140px 0 0 0;
    padding: 0 147px;
}

.offer>h1 {
    padding: 0;
    color: var(--third-color);
    font-family: "Josefin Sans", sans-serif;
    font-size: 43px;
    font-weight: 600;
    letter-spacing: 7px;
}
.p-bottom-h1 {
    width: 506px;
    margin: 20px 0 0 0;
    padding: 0;
    color: var(--third-color);
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    opacity: .7;
}

.coffe-beans {
    display: flex;
}

.coffe-bean>img {
    width: 300px;
    height: 265px;
    margin: 0;
    padding: 0;
}

.coffe-bean__price {
    color: var(--third-color);
    margin: 35px 0 0 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.coffe-bean>h3 {
    color: var(--third-color);
    font-family: "Josefin Sans", sans-serif;
    font-size: 32px;
    font-weight: 600;
}

.coffe-bean:nth-child(2) {
    margin: 0 92px;
}

.coffe-bean__desc {
    color: var(--third-color);
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.6;
}