#thirdpage > .text-headers {
    color: var(--black-color);
    font-family: "Josefin Sans", serif;
    font-size: 43px;
    font-weight: 600;
    line-height: 130%; /* 55.9px */
    letter-spacing: 6px;
}

.text-headers {
    color: var(--black-color);
    font-family: "Josefin Sans", serif;
    font-size: 43px;
    font-weight: 600;
    line-height: 130%; /* 55.9px */
    letter-spacing: 6px;
    text-align: center;
}

#thirdpage .text-paragraphs {
    color: var(--black-color);
    font-family: "Open Sans", serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 29px; /* 28.8px */
    opacity: 0.7;
    margin: 20px auto 0;
    text-align: center;
    max-width: 609px;
}

.text-paragraphs {
    color: var(--black-color);
    font-family: "Open Sans", serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 29px; /* 28.8px */
    opacity: 0.7;
}

#spacing {
    letter-spacing: 0;
}

#secondpage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

#granuls {
    display: flex;
    justify-content: flex-start;
    gap: 100px;
    margin-top: 150px;
    margin-right: 40px;
}

#granuls > div:nth-child(3) {
    position: relative;
    left: 40px;
    width: 250px;
}

.item-price {
    color: var(--black-color);
    font-family: "Josefin Sans", serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 36px */
    margin: 10px 0 10px 0;
}

.item-name {
    color: var(--black-color);
    font-family: "Josefin Sans", serif;
    font-size: 32px;
    font-weight: 600;
    margin: 10px 0 10px 0;
}

.item-description {
    color: var(--black-color);
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
    opacity: 0.6;
    width: 225px;
}

.href-paragraph {
    text-decoration: none;
    color: var(--black-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease;
}

.href-paragraph:hover img{
    width: 99%;
    border-radius: 5px;
}

#thirdpage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 227px;
}

#thirdpage > .text-headers {
    letter-spacing: 0;
}

#thirdpage > .text-paragraphs {
    width: 609px;
    opacity: 0.7;
    text-align: center;
}

#img-container-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#first-img-row, #second-img-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#first-img-row {
    margin-top: 60px;
    margin-bottom: 30px;
}

#loadmore {
    color: #FF4B32;
    text-align: center;
    font-family: "Open Sans", serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%; /* 27px */
    margin-top: 75px;
    transition: 0.5s ease;
}
#loadmore:hover {
    cursor: pointer;
    font-weight: 600;
    transition: 0.5s ease;
}

#coverfourth {
    height: 1500px;
}

#forthpage {
    background-image: url("../images/fourth-page-background.png");
    height: 650px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 143px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

#followus {
    color: var(--orange-color);
    text-align: center;
    font-family: "Open Sans", serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */
}

#forthpage div .text-headers {
    color: #FFF;
    text-align: center;
    font-family: "Josefin Sans", serif;
    font-size: 43px;
    font-weight: 600;
    line-height: 130%; /* 55.9px */
    width: 810px;
    letter-spacing: 0;
}
#forthpage div.forthpage__top-content{
    margin-top: 65px;
}
#contacts-compress > p:last-child img{
    margin-top: 5px;
}
#contacts-compress{
    margin-top: 35px;
}
.wrapper-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts {
    color: #FFF;
    text-align: center;
    font-family: "Open Sans", serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%; /* 36px */
    opacity: 0.7;
}

.icon-contact {
    width: 24px;
    height: auto;
    margin-right: 13px;
}

.round-buttons {
    display: flex;
    justify-content: center;
    width: 50px;
    height: auto;
    gap: 40px;
    margin-top: 30px;
}
.round-buttons a{
    transition: 0.5s ease;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.round-buttons a:hover{
    background: var(--orange-color);
    transition: 0.5s ease;
}

.contacts {
    margin-top: 25px;
}

#fifthpage > .text-headers {
    color: #000;
    letter-spacing: 0;
    margin-top: 152px;
}

#fifthpage > .text-paragraphs {
    color: #000;
    text-align: center;
    width: 609px;
    margin-top: 20px;
    margin-bottom: 60px;
}
#contacts-compress p{
    display: flex;
    align-items: center;
    justify-content: center;
}
#contacts-compress a{
    text-decoration: none;
    color: #ffffff;
}
#contacts-compress a:hover{
    color: var(--orange-color);
}