* {
    margin: 0;
}

nav {
    /*height: 50px;*/
    width: 100%;
    position: absolute;
    z-index: 1;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: 100%;
    height: 100px;
    gap: 40px;
}

ul > li > a {
    color: #FFF;
    font-family: "Open Sans", serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 28.8px */
    text-decoration: none;
    opacity: 0.6;
}

ul > li > a:hover {
    opacity: 1;
}

#firstpage {
    width: 100vw;
    height: 100%;
}

#seventeen {
    position: relative;
    width: 100%;
    height: 729px;
    background: linear-gradient(90deg, #000 -0.86%, #000 10.37%, #000 19.49%, #000 28.74%, #000 37.18%);
    z-index: -1;
}

#imgcontainer {
    position: absolute;
    top: 0;
    right: 0;
}

nav > ul > #home > a {
    color: #FF4B32;
    font-family: "Open Sans", serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 28.8px */
}

nav > ul > .logo-coffee > a, #fourrows > .footer-row > #footer-logo > .logo-coffee > a {
    position: relative;
    top: 2px;
    color: #FF4B32;
    font-family: "Josefin Sans", serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 31.2px */
    opacity: 1;
}

nav > ul > .img-coffee > a {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 50px;
    height: 50px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    position: relative;
    left: 30px;
    opacity: 1;
}

#keep {
    position: relative;
    top: 210px;
    left: 145px;
    height: 210px;
    width: 524px;
    margin-bottom: 26px;
}

#keep > h6 {
    color: #FFF;
    font-family: "Josefin Sans", serif;
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 69.6px */
}

#the-coffee {
    position: relative;
    top: 210px;
    left: 145px;
    height: 210px;
    width: 524px;
}

#the-coffee > p {
    color: #FFF;
    font-family: "Open Sans", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 32px */
    opacity: 0.8;
}

#buy-now {
    position: relative;
    left: 145px;
    top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 153px;
    height: 57px;

    color: #FFF;
    font-family: "Open Sans", serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 28.8px */

    border-radius: 5px;
    background: #FF4B32;
}

#text-2 {
    position: relative;
    top: 110px;
    left: 145px;
    width: 590px;
}

#thirdpage > .text-headers {
    color: #000;
    font-family: "Josefin Sans", serif;
    font-size: 43px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 55.9px */
    letter-spacing: 6px;
    margin-top: 200px;
}

.text-headers {
    color: #000;
    font-family: "Josefin Sans", serif;
    font-size: 43px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 55.9px */
    letter-spacing: 6px;
}

#thirdpage > .text-paragraphs {
    color: #000;
    font-family: "Open Sans", serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px; /* 28.8px */
    opacity: 0.7;
    margin-top: 20px;
}

.text-paragraphs {
    color: #000;
    font-family: "Open Sans", serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px; /* 28.8px */
    opacity: 0.7;
}

#spacing {
    letter-spacing: 0;
}

#secondpage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

#granuls {
    display: flex;
    justify-content: flex-start;
    gap: 100px;
    margin-top: 150px;
    margin-right: 40px;
}

#granuls > div:nth-child(3) {
    position: relative;
    left: 40px;
    width: 250px;
}

.item-price {
    color: #0C0D0C;
    font-family: "Josefin Sans", serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 36px */
    margin: 10px 0 10px 0;
}

.item-name {
    color: #000;
    font-family: "Josefin Sans", serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    /*line-height: 130%; !* 41.6px *!*/
    margin: 10px 0 10px 0;
}

.item-description {
    color: #000;
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
    opacity: 0.6;
    width: 225px;
}

.href-paragraph {
    text-decoration: none;
    color: #000;
}

#thirdpage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

#thirdpage > .text-headers {
    letter-spacing: 0;
}

#thirdpage > .text-paragraphs {
    width: 609px;
    opacity: 0.7;
    text-align: center;
}

#img-container-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#first-img-row, #second-img-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#first-img-row {
    margin-top: 60px;
    margin-bottom: 30px;
}

#loadmore {
    color: #FF4B32;
    text-align: center;
    font-family: "Open Sans", serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    margin-top: 75px;
}

#coverfourth {
    height: 1500px;
}

#forthpage {
    background-image: url("images/fourth-page-background.png");
    height: 650px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    /*scale: 0.7;*/
    margin-top: 143px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

#followus {
    color: #FF4B32;
    text-align: center;
    font-family: "Open Sans", serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */
}

#forthpage > div > .text-headers {
    color: #FFF;
    text-align: center;
    font-family: "Josefin Sans", serif;
    font-size: 43px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 55.9px */
    width: 810px;
    letter-spacing: 0;

}

.contacts {
    color: #FFF;
    text-align: center;
    font-family: "Open Sans", serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    opacity: 0.7;
}

.icon-contact {
    width: 24px;
    height: auto;
    margin-right: 13px;
}

.round-buttons {
    display: flex;
    justify-content: center;
    width: 50px;
    height: auto;
    gap: 40px;
}

.contacts {
    margin-top: 25px;
}

#fifthpage > .text-headers {
    color: #000;
    letter-spacing: 0;
    margin-top: 152px;
}

#fifthpage > .text-paragraphs {
    color: #000;
    text-align: center;
    width: 609px;
    margin-top: 20px;
    margin-bottom: 60px;
}

#fifthpage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 141px;
}

#triple-round-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.triple-round-image-element {
    flex-shrink: 0;
    border-radius: 20px;
    border: #9EA087 solid 1px;
}

.triple-round-image-element img {
    background: lightgray -0.888px 0 / 124.247% 100% no-repeat;
}

.triple-round-image-element > .item-name {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.triple-round-image-element > .item-description {
    margin-bottom: 20px;
    width: 302px;
    margin-left: 30px;
}

.triple-round-image-element > .learn-more {
    color: #FF4B32;
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
    margin-bottom: 30px;
    margin-left: 30px;
}

.round-buttons > a > img {
    width: 50px;
    height: 50px;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #0D0402;
}


#four-rows-container {
    display: flex;
    justify-content: space-evenly;
    height: 406px;
    width: 100%;
    background: #0D0402;
}

#footer-logo {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 5px;
    width: 100px;
    gap: 10px;
    margin-right: 70px;
}

#fourrows {
    display: flex;
    justify-content: space-evenly;
    gap: 80px;
}

#fourrows > .footer-row > #footer-logo > .logo-coffee > a {
    position: relative;
    text-decoration: none;
}

#fourrows > .footer-row > #footer-logo > .img-coffee > a {
    position: relative;
    bottom: 20px;
}

.footer-row {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    top: 40px;
    height: 250px;
}

#fourrows > .footer-row > p {
    color: #FFF;
    font-family: "Open Sans", serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    opacity: 0.7;
    width: 250px;
}

#fourrows > .footer-row > .text-paragraphs {
    margin-top: 10px;
    font-size: 18px;
}

#fourrows > .footer-row > .contacts {
    font-size: 16px;
    margin-top: 30px;
    text-align: left;
}

#fourrows > .footer-row > p > .icon-contact {
    width: 18px;
    position: relative;
    top: 2px;
    margin-right: 8px;
}

#fourrows > div:nth-child(4) {
    position: relative;
    top: 10px;
}

#fourrows > .footer-row > .round-buttons {
    width: 0;
    justify-content: left;
    gap: 30px;
    position: relative;
    bottom: 13px;

}

#fourrows > .footer-row > .round-buttons .round-image {
    width: 40px;
    height: auto;
}

#copy {
    color: #FFF;
    text-align: center;
    font-family: Poppins, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
    opacity: 0.7;
    position: relative;
    bottom: 60px;
}